---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, heroImage } = Astro.props;
---

<head>
  <BaseHead title={title} description={description} />
</head>

<body>
  <main>
    <a href="/">zurück</a>
    <article>
      <h1>{title}</h1>
      <FormattedDate date={pubDate} />
      <img src={heroImage} alt="" />
      <slot />
    </article>
  </main>
  <Footer />
</body>
